<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:include="fragments/head"></th:block>

<body class="index-page sidebar-collapse">
	<th:block th:include="fragments/navbarTransparent"></th:block>

	<div class="main">
		<th:block th:include="fragments/navbarPrimary"></th:block>
		<div class="section">
			<div class="container">
				<div class="row">
					<div class="col-md-8 offset-md-2 col-sm-12">

						<div class="title">
							<h2>Table with Pagination</h2>
						</div>


				<table class="table table-responsive highlight">
					<thead>
						<tr>
						
							<th>Nombre</th>
                            <th>Descripcion</th>
                            
						</tr>
					</thead>
					<tbody>
					
					
						
						<tr th:each="problem : ${probList}">

							<td th:text="${problem.id}"></td>
							<td th:text="${problem.name}"></td>
							<td th:text="${problem.description}"></td>
		
							<td><a
								th:href="@{/problems/{id}(id=${problem.id})}"><i
											class="fab fa-readme"></i></a></td>
									<td><a
										th:href="@{/problems/{id}/edit(id=${problem.id})}"><i
											class="far fa-edit"></i></a></td>
									<td><a
										th:href="@{/problems/{id}/delete(id=${problem.id})}"><i
											class="fas fa-trash-alt"></i></a></td>
							
						</tr>
					</tbody>
				</table>
			</div>
			
			<div class="container">
			<th:block th:include="pagination/paginationProblem"></th:block>
			</div>
			
			
			
		</div>
	</div>
		</div>
	</div>

	<th:block th:include="fragments/footer"></th:block>

	<th:block th:include="fragments/scripts"></th:block>

</body>
</html>