<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/head"></th:block>
<body>

	<th:block th:include="fragments/navbar"></th:block>
	<div class="container">

		<div class="card" style="max-width: 100%;">
			<div class="card-header">Mantenimiento de tecnicos remotos</div>
			<div class="card-body">

				<a th:href="@{/problems/new}" class="btn btn-primary">Nuevo</a>

	

				
					
						<div class="form-group">
						<label for="problem">Problemas</label> <select id="problem"
							class="form-control" th:field="*{problems}" multiple="multiple">
							<option th:each="problem : ${problems}"
								th:text="${problem.name}" th:value="${problem.id}"></option>
						</select>	
						</div>
						
						
					
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">Id</th>
							<th>Nombre</th>
                            <th>Descripcion</th>
                           
						</tr>
					</thead>
					<tbody>
						<tr th:each="problem : ${problems}">

							<td th:text="${problem.id}">1</td>
							<td th:text="${problem.name}">Latencia</td>
							<td th:text="${problem.description}">Interrupcion continua</td>
						
							<td><a th:href="@{'/problems/edit/'+ ${problem.id}}"
								class="btn btn-success">Editar</a></td>
							<td><a th:href="@{'/problems/delete/' + ${problem.id}}"
								class="btn btn-danger">Eliminar</a></td>
							
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>
	<th:block th:include="fragments/scripts"></th:block>

</body>
</html>