<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:include="fragments/head"></th:block>

<body class="index-page sidebar-collapse">
	<div class="d-flex" id="wrapper">	<!-- esto -->
		<th:block th:include="fragments/sidebar"></th:block>	<!-- esto -->
		<!-- Page Content -->
		<div id="page-content-wrapper">	<!-- esto -->
			<th:block th:include="fragments/navbarTransparent"></th:block>

			<div class="main">
				<th:block th:include="fragments/navbarPrimary"></th:block>
				<div class="section">
					<div class="container">
						<div class="row">
							<div class="col-md-8 offset-md-2 col-sm-12">

								<div class="title">
									<h2>Lista de Categorias</h2>
								</div>

								<table class="table table-responsive highlight">
									<thead>
										<tr>
											<th>Name</th>
											<th></th>
											<th></th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="category : ${categoriesList}">
											<td th:text="${category.name}"></td>

											<td
												th:text="${#dates.format(category.updatedAt, 'dd-MMM-yyyy')}"></td>

											<td><a th:href="@{/categories/{id}(id=${category.id})}"><i
													class="fab fa-readme"></i></a></td>
											<td><a
												th:href="@{/categories/{id}/edit(id=${category.id})}"><i
													class="far fa-edit"></i></a></td>
											<td><a
												th:href="@{/categories/{id}/delete(id=${category.id})}"><i
													class="fas fa-trash-alt"></i></a></td>
										</tr>
									</tbody>
								</table>
								
										<nav th:replace="fragments/pagination1 :: paginator"></nav>
								
							</div>
						</div>
					</div>
					<br> &nbsp;&nbsp;&nbsp; <br>

				

				</div>
			</div>

			<th:block th:include="fragments/footer"></th:block>
		</div> 	<!-- esto -->
	</div>	<!-- esto -->
	<th:block th:include="fragments/scripts"></th:block>
	
	
</body>

</html>