<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/head"></th:block>
<body>

	<th:block th:include="fragments/navbar"></th:block>
	<div class="container">

		<div class="card" style="max-width: 100%;">
			<div class="card-header">Eliminar Ticket de Servicio</div>
			<div class="card-body">

				<form th:object="${ticket}" th:action="@{/tickets/drop/{id}(id=${ticket.id})}"
					th:method="post">
					<div class="form-group">
						<input type="hidden" class="form-control" th:field="*{id}" />
					</div>
					
					<p>Desea eliminar este Ticket?</p>
					
					<div class="form-group">
						<label for="fecha">Fecha de Atencion</label> <input type="text"
							class="form-control" th:field="*{dateAttention}" id="fecha"
							readonly="readonly" />
					</div>

					<div class="form-group">
						<label for="client">Cliente</label> <select id="client"
							class="form-control" th:field="*{client}">
							<option th:each="client : ${clients}" th:text="${client.name}"
								th:value="${client.id}"></option>
						</select>
					</div>

					<div class="form-group">
						<label for="address">Direccion</label> <input type="text"
							class="form-control" id="address" aria-describedby="address"
							th:field="*{address}" placeholder="type here ..." />
					</div>

					<div class="form-group">
						<label for="typeService">Tipo de Servicio:</label> <select
							name="typeService" id="typeService" class="form-control" required>
							<option value="Remoto">Remoto</option>
							<option value="Presencial" selected>Presencial</option>

						</select>
					</div>

					<div class="form-group">
						<label for="status">Estado:</label> <select name="status"
							id="status" class="form-control" required>
							<option value="Remoto">Completado</option>
							<option value="Pendiente" selected>Pendiente</option>
							<option value="Ejeucion" selected>Ejecucion</option>
							<option value="Fallido" selected>Fallido</option>

						</select>
					</div>

					<a th:href="@{/tickets/}" class="btn btn-primary">Regresar</a>
					<button type="submit" class="btn btn-danger">Eliminar</button>
				</form>
			</div>
		</div>

	</div>
	<th:block th:include="fragments/scripts"></th:block>

</body>

</html>
