<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/head"></th:block>
<body>

	<th:block th:include="fragments/navbar"></th:block>
	<div class="container">

		<div class="card" style="max-width: 100%;">
			<div class="card-header">Mantenimiento Tickets</div>
			<div class="card-body">

				<a th:href="@{/tickets/new}" class="btn btn-primary">Nuevo</a>
				<br></br>
				<table class="table table-striped">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th>Estado</th>
							<th>Tipo Servicio</th>
							<th>Fecha Atencion</th>
							<th>Cliente</th>
							<th>Ver</th>
							<th>Editar</th>
							<th>Eliminar</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="ticket : ${tickets}">

							<td th:text="${ticket.id}">1</td>
							<td th:text="${ticket.status}"></td>
							<td th:text="${ticket.typeService}"></td>
							<td th:text="${ticket.dateAttention}"></td>
							<td th:text="${ticket.client.name}"></td>	
							<td><a th:href="@{'/tickets/show/' + ${ticket.id}}"
																				class="btn btn-primary">Ver</a></td>
							<td><a th:href="@{'/tickets/edit/'+ ${ticket.id}}"
																				class="btn btn-success">Editar</a></td>
							<td><a th:href="@{'/tickets/delete/' + ${ticket.id}}"
																				class="btn btn-danger">Eliminar</a></td>

						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</div>
	<th:block th:include="fragments/scripts"></th:block>

</body>
</html>