<!-- Sidebar -->
<div class="bg-light border-right" id="sidebar-wrapper">
	<div class="sidebar-heading">Menu</div>
	<div class="list-group list-group-flush">

		<a th:href="@{/clients/new}" class="nav-link"
			sec:authorize="isAuthenticated()"> <i class="fas fa-plus"></i>
			Nuevo Cliente
		</a> <a th:href="@{/clients}" class="nav-link"
			sec:authorize="isAuthenticated()"> <i class="material-icons">apps</i>
			Lista de Clientes
		</a> <a th:href="@{/tickets/new}" class="nav-link"
			sec:authorize="isAuthenticated()"> <i class="fas fa-plus"></i>Nuevo Ticket
		</a> <a th:href="@{/tickets}" class="nav-link"
			sec:authorize="isAuthenticated()"> <i class="material-icons">apps</i>
			Lista de Tickets
		</a><a th:href="@{/categories/new}" class="nav-link"
			sec:authorize="isAuthenticated()"> <i class="fas fa-plus"></i>Nueva Categoria
		</a> <a th:href="@{/categories}" class="nav-link"
			sec:authorize="isAuthenticated()"> <i class="material-icons">apps</i>
			Lista de Categorias
		</a> <a th:href="@{/specialties/new}" class="nav-link"
			sec:authorize="isAuthenticated()"> <i class="fas fa-plus"></i>Nueva especialidad
		</a> <a th:href="@{/specialties}" class="nav-link"
			sec:authorize="isAuthenticated()"> <i class="material-icons">apps</i>
			Lista de especialidades
		</a> <a th:href="@{/techniciansInd/new}" class="nav-link"
			sec:authorize="isAuthenticated()"> <i class="fas fa-plus"></i>Nuevo Tecnico
		</a> <a th:href="@{/techniciansInd}" class="nav-link"
			sec:authorize="isAuthenticated()"> <i class="material-icons">apps</i>
			Lista de tecnicos
		</a> <a th:href="@{/requests}" class="nav-link"
			sec:authorize="isAuthenticated()"> <i class="material-icons">apps</i>
			Lista de solicitudes
		</a> <a th:href="@{/products/new}" class="nav-link"
			sec:authorize="isAuthenticated()"> <i class="fas fa-plus"></i>Nuevo Producto
		</a> <a th:href="@{/products}" class="nav-link"
			sec:authorize="isAuthenticated()"> <i class="material-icons">apps</i>
			Lista de Productos
		</a> <a th:href="@{/advisors/new}" class="nav-link"
			sec:authorize="isAuthenticated()"> <i class="fas fa-plus"></i>Nuevo Asesor
		</a> <a th:href="@{/advisors}" class="nav-link"
			sec:authorize="isAuthenticated()"> <i class="material-icons">apps</i>
			Lista de asesores
		</a> <a th:href="@{/problems/new}" class="nav-link"
			sec:authorize="isAuthenticated()"> <i class="fas fa-plus"></i>Nuevo Problema
		</a> <a th:href="@{/problems}" class="nav-link"
			sec:authorize="isAuthenticated()"> <i class="material-icons">apps</i>
			Lista de Problemas
		</a>
		<a th:href="@{/activities/new}" class="nav-link"
			sec:authorize="isAuthenticated()"> <i class="fas fa-plus"></i>Nueva actividad
		</a>
 		<a th:href="@{/activities}" class="nav-link"
			sec:authorize="isAuthenticated()"> <i class="material-icons">apps</i>
			Lista de actividades
		</a>
		<a th:href="@{/satisfactions}" class="nav-link"
			sec:authorize="isAuthenticated()"> <i class="material-icons">apps</i>
			Lista de actividades
		</a>

	</div>
</div>
<!-- /#sidebar-wrapper -->