<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:include="fragments/head"></th:block>

<body class="index-page sidebar-collapse">
	<div class="d-flex" id="wrapper">
		<!-- esto -->
		<th:block th:include="fragments/sidebar"></th:block>
		<!-- esto -->
		<!-- Page Content -->
		<div id="page-content-wrapper">
			<!-- esto -->
			<th:block th:include="fragments/navbarTransparent"></th:block>

			<div class="main">
				<th:block th:include="fragments/navbarPrimary"></th:block>
				<div class="section">
					<div class="container">
						<div class="row">
							<div class="col-md-8 offset-md-2 col-sm-12">
								<div class="title">
									<th>ID:</th>
									<h2 th:text="${technicianInd.id}"></h2>
									<th>Nombre:</th>
									<h2 th:text="${technicianInd.name}"></h2>
									<th>Telefono:</th>
									<h2 th:text="${technicianInd.telephone}"></h2>
									<th>Costo:</th>
									<h2 th:text="${technicianInd.cost}"></h2>
									<th>Estado:</th>
									<h2 th:text="${technicianInd.status}"></h2>
									<th>Tipo:</th>
									<h2 th:text="${technicianInd.type}"></h2>
									<th>Especialidad: </th>
									<br></br>
									<th:block th:each="specialty : ${technicianInd.specialties}">
										<span th:text="${specialty.name} + ' ,'">Item
											description here...</span>


									</th:block>

								</div>


								<h6
									th:text="'created at ' + ${#dates.format(technicianInd.createdAt, 'dd-MMM-yyyy HH:mm')}"></h6>
								<h6
									th:text="'updated at ' + ${#dates.format(technicianInd.updatedAt, 'dd-MMM-yyyy HH:mm')}"></h6>

							</div>
						</div>
						&nbsp; &nbsp;
						<div class="row">
							<div class="col-md-8 offset-md-2 col-sm-12"
								sec:authorize="isAuthenticated()">
								<a
									th:href="@{'/techniciansInd/' + ${technicianInd.id} + '/edit'}"
									class="btn btn-primary">Editar</a> <a class="btn btn-primary"
									th:href="@{'/techniciansInd'}">Continuar</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<th:block th:include="fragments/footer"></th:block>
		</div>
		<!-- esto -->
	</div>
	<!-- esto -->
	<th:block th:include="fragments/scripts"></th:block>
</body>

</html>
