<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<th:block th:include="fragments/head"></th:block>

<body class="index-page sidebar-collapse">
	<div class="d-flex" id="wrapper">
		<!-- esto -->
		<th:block th:include="fragments/sidebar"></th:block>
		<!-- esto -->
		<!-- Page Content -->
		<div id="page-content-wrapper">
			<!-- esto -->
			<th:block th:include="fragments/navbarTransparent"></th:block>

			<div class="main">
				<th:block th:include="fragments/navbarPrimary"></th:block>
				<div class="section">
					<div class="container">
						<div class="row">
							<div class="col-md-8 offset-md-2 col-sm-12">
								<div class="title">
									<th>ID:</th><h2 th:text="${satisfaction.id}"></h2>
									<th>Experiencia de servicio:</th><h2 th:text="${satisfaction.experience}"></h2>
									<th>Tiempo de Servicio:</th><h2 th:text="${satisfaction.time}"></h2>
									<th>Profesionalismo de Servicio:</th><h2 th:text="${satisfaction.professionalism}"></h2>
									<th>Calidad de Servicio:</th><h2 th:text="${satisfaction.quality}"></h2>
									<th>Comprension de problema:</th><h2 th:text="${satisfaction.compression}"></h2>
								</div>

								<h6
									th:text="'created at ' + ${#dates.format(satisfaction.createdAt, 'dd-MMM-yyyy HH:mm')}"></h6>
								<h6
									th:text="'updated at ' + ${#dates.format(satisfaction.updatedAt, 'dd-MMM-yyyy HH:mm')}"></h6>

							</div>
						</div>
						&nbsp; &nbsp;
						<div class="row">
							<div class="col-md-8 offset-md-2 col-sm-12"
								sec:authorize="isAuthenticated()">
								<a th:href="@{'/satisfactions/' + ${satisfaction.id} + '/edit'}"
									class="btn btn-primary">Editar</a> <a class="btn btn-primary"
									th:href="@{'/satisfactions'}">Continuar</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<th:block th:include="fragments/footer"></th:block>
		</div>
		<!-- esto -->
	</div>
	<!-- esto -->
	<th:block th:include="fragments/scripts"></th:block>
</body>

</html>

