<div class="row">
					<div class="col-md-8 offset-md-2 col-sm-12">
			

						<div th:if="${probList.totalPages != 1}" class="section">
							<ul class="pagination pagination-primary">
								<li class="page-item"
									th:class="${probList.number == 0} ? disabled"><a
									class="page-link"
									th:href="@{/problems/(pageSize=${selectedPageSize}, page=1)}">&laquo;</a></li>
								<li class="page-item"
									th:class="${probList.number == 0} ? disabled"><a
									class="page-link"
									th:href="@{/problems/(pageSize=${selectedPageSize}, page=${probList.number})}">anterior</a>
								</li>
								<li
									th:class="${probList == (page - 1)} ? 'active page-item'"
									th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
									<a class="page-link"
									th:href="@{/problems/(pageSize=${selectedPageSize}, page=${page})}"
									th:text="${page}"></a>
								</li>
								<li class="page-item"
									th:class="${probList.number + 1 == probList.totalPages} ? disabled">
									<a class="page-link"
									th:href="@{/problems/(pageSize=${selectedPageSize}, page=${probList.number + 2})}">siguiente</a>
								</li>
								<li class="page-item"
									th:class="${probList.number + 1 == probList.totalPages} ? disabled">
									<a class="page-link"
									th:href="@{/problems/(pageSize=${selectedPageSize}, page=${probList.totalPages})}">&raquo;</a>
								</li>
							</ul>
						</div>



					</div>
				</div>