<div class="row">
    <div class="col-md-8 offset-md-2 col-sm-12">
        <!--include if you want to select pagesize: 5,10 -->
        <!--
    <div>
        <select id="pageSizeSelect">
            <option th:each="pageSize : ${pageSizes}" th:text="${pageSize}"
                    th:value="${pageSize}"
                    th:selected="${pageSize} == ${selectedPageSize}"></option>
        </select>
    </div>-->


        <div th:if="${clientsList.totalPages != 1}" class="section">
            <ul class="pagination pagination-primary">
                <li class="page-item"
                    th:class="${clientsList.number == 0} ? disabled"><a
                    class="page-link"
                    th:href="@{/clients/(pageSize=${selectedPageSize}, page=1)}"></a></li>
                <li class="page-item"
                    th:class="${clientsList.number == 0} ? disabled"><a
                    class="page-link"
                    th:href="@{/clients/(pageSize=${selectedPageSize}, page=${clientsList.number})}"></a>
                </li>
                <li
                    th:class="${clientsList.number == (page - 1)} ? 'active page-item'"
                    th:each="page : ${#numbers.sequence(pager.startPage, pager.endPage)}">
                    <a class="page-link"
                    th:href="@{/clients/(pageSize=${selectedPageSize}, page=${page})}"
                    th:text="${page}"></a>
                </li>
                <li class="page-item"
                    th:class="${clientsList.number + 1 == clientsList.totalPages} ? disabled">
                    <a class="page-link"
                    th:href="@{/clients/(pageSize=${selectedPageSize}, page=${clientsList.number + 2})}"></a>
                </li>
                <li class="page-item"
                    th:class="${clientsList.number + 1 == clientsList.totalPages} ? disabled">
                    <a class="page-link"
                    th:href="@{/clients/(pageSize=${selectedPageSize}, page=${clientsList.totalPages})}"></a>
                </li>
            </ul>
        </div>



    </div>
</div>